/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300);
/* line 25, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
* {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 31, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
body, body * {
  margin: 0;
}

/* line 35, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
body {
  background: #2f2f2f;
}

/* line 39, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
.green {
  color: #23CF5F;
}

/* line 43, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#head {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 16px;
  box-shadow: 0 0 1px 0 #000;
  height: 24px;
}
/* line 52, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#head * {
  display: inline-block;
  color: #23CF5F;
  font-weight: 600;
}
/* line 57, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#head img {
  height: 26px;
}
/* line 60, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#head #title {
  font-size: 16px;
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
}
/* line 66, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#head #acct {
  float: right;
  font-size: 10px;
  margin: 6px;
}

/* line 73, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#disp {
  display: inline-block;
}
/* line 75, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#disp #track {
  display: inline-block;
  margin-top: 4px;
  margin-left: -6px;
}
/* line 80, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#disp img {
  width: 60%;
  float: left;
}
/* line 84, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#disp img {
  padding: 16px;
}
/* line 87, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#disp h2 {
  font-weight: 500;
}
/* line 90, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#disp h2, #disp h6 {
  padding: 6px;
  cursor: pointer;
}

/* line 96, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#player {
  box-shadow: 2px #000;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #2f2f2f;
  box-shadow: 0 0 1px 0 #000;
}
/* line 103, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#player * {
  display: inline-block;
}
/* line 106, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#player h6 {
  padding: 6px;
}
/* line 109, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#player span {
  background: #fff;
  height: 4px;
  width: calc(100% - 78px);
  margin-bottom: 2px;
}
/* line 115, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#player #time {
  border-radius: 2px;
}
/* line 118, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#player #current {
  background: #23CF5F;
  position: absolute;
  left: 37px;
  top: 11px;
  width: calc(16% - 12px);
  border-radius: 2px 0 0 2px;
}

/* line 128, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#sub {
  padding: 10px;
  box-shadow: 0 1px 0 0 #000;
}
/* line 131, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#sub span {
  width: 33%;
  text-align: center;
  display: inline-block;
}

/* line 138, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#songs {
  display: block;
}
/* line 141, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#songs .song h6 {
  display: inline-block;
  padding: 10px;
}
/* line 145, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#songs .song h6:nth-child(2), #songs .song h6:nth-child(3) {
  float: right;
}
