/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300);
/* line 25, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
* {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 31, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
html, body {
  height: 100%;
}

/* line 35, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
body, body * {
  margin: 0;
}

/* line 39, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
body {
  background: #2f2f2f;
}

/* line 43, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
.green {
  color: #23CF5F;
}

/* line 47, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#head {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 16px;
  box-shadow: 0 0 1px 0 #000;
  height: 24px;
}
/* line 56, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#head * {
  display: inline-block;
  color: #23CF5F;
  font-weight: 600;
}
/* line 61, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#head img {
  height: 26px;
}
/* line 64, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#head #title {
  font-size: 16px;
  position: absolute;
  margin-left: 10px;
  margin-top: 2px;
}
/* line 70, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#head #acct {
  float: right;
  font-size: 10px;
  margin: 6px;
}

/* line 77, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#disp {
  display: inline-block;
}
/* line 79, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#disp #track {
  display: inline-block;
  margin-top: 4px;
  margin-left: -6px;
}
/* line 84, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#disp img {
  width: 60%;
  float: left;
}
/* line 88, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#disp img {
  padding: 16px;
}
/* line 91, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#disp h2 {
  font-weight: 500;
}
/* line 94, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#disp h2, #disp h6 {
  padding: 6px;
  cursor: pointer;
}

/* line 100, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#player {
  box-shadow: 2px #000;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #2f2f2f;
  box-shadow: 0 0 1px 0 #000;
}
/* line 107, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#player * {
  display: inline-block;
}
/* line 110, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#player h6 {
  padding: 6px;
}
/* line 113, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#player span {
  background: #fff;
  height: 4px;
  width: calc(100% - 78px);
  margin-bottom: 2px;
}
/* line 119, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#player #time {
  border-radius: 2px;
}
/* line 122, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#player #current {
  background: #23CF5F;
  position: absolute;
  left: 37px;
  top: 11px;
  width: calc(16% - 12px);
  border-radius: 2px 0 0 2px;
}

/* line 132, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#sub {
  padding: 10px;
  box-shadow: 0 1px 0 0 #000;
}
/* line 135, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#sub span {
  width: 33%;
  text-align: center;
  display: inline-block;
}

/* line 142, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#acct-info {
  position: absolute;
  right: 0;
  background: #2f2f2f;
  margin-top: 1px;
  box-shadow: 2px #000;
  padding: 10px;
}
/* line 149, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#acct-info * {
  padding: 10px;
}

/* line 154, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#side {
  display: inline-block;
  width: 104px;
  padding: 10px;
  height: calc(100% - 76px);
  background: #2f2f2f;
  margin-top: 1px;
  box-shadow: 2px #000;
}
/* line 162, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#side * {
  padding: 10px;
}
/* line 165, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#side h5 {
  font-weight: bold;
}
/* line 168, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#side h6 {
  border-bottom: 1px solid #000;
}
/* line 171, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#side img {
  height: 12px;
}
/* line 174, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#side .cat {
  padding: 0;
  border-bottom: 1px solid #000;
}
/* line 177, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#side .cat * {
  display: inline-block;
}
/* line 180, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
#side .cat img {
  margin-bottom: -12px;
  margin-left: -16px;
}

/* line 187, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/application.scss */
.cont {
  width: calc(100% - 144px);
  float: right;
  margin-right: 10px;
}
/* line 5, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/artist.scss */
h1, h3 {
  padding: 16px;
}

/* line 9, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/artist.scss */
h1 {
  font-weight: 500;
}

/* line 13, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/artist.scss */
.list {
  display: inline-block;
  width: 100%;
  margin: 16px;
}
/* line 17, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/artist.scss */
.list h3 {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 21, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/artist.scss */
.list .album {
  display: inline-block;
  float: left;
  margin: 16px;
}
/* line 25, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/artist.scss */
.list .album img {
  height: 160px;
}
/* line 28, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/artist.scss */
.list .album h6 {
  text-align: center;
  padding: 6px;
  box-shadow: 0 0 1px 0 #000;
  background: #2f2f2f;
  position: absolute;
  margin-top: -6px;
  margin-left: -6px;
  width: 160px;
}

/* line 41, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/artist.scss */
.playlist {
  display: inline-block;
  padding: 6px;
  box-shadow: 0 0 1px 0 #000;
  width: 160px;
}
/* line 46, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/artist.scss */
.playlist * {
  padding: 6px;
}
/* line 5, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/music.scss */
#sub {
  padding: 0;
}
/* line 7, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/music.scss */
#sub h5 {
  padding: 16px;
}

/* line 12, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/music.scss */
.song {
  border-bottom: 1px solid #000;
}

/* line 17, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/music.scss */
.type img {
  height: 12px;
}
/* line 20, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/music.scss */
.type h5 {
  padding: 10px;
}

/* line 25, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/music.scss */
#songs {
  display: block;
}
/* line 28, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/music.scss */
#songs .song h6 {
  display: inline-block;
  padding: 10px;
}
/* line 32, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/music.scss */
#songs .song h6:nth-child(2), #songs .song h6:nth-child(3) {
  float: right;
}
/* line 7, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/mv.scss */
#disp-video {
  margin: 26px;
  margin-left: 144px;
}
/* line 10, /Users/Jack/RoR/CaD/spot/app/assets/stylesheets/mv.scss */
#disp-video img {
  display: inline-block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
