= render 'layouts/head'

#art-disp
	%h3 Madvillain - Rhinestone Cowboy
	= image_tag('madvillainy.png')
	%h6 2004
	%h6 Stone's Throw Records

#lyric
	= image_tag('logo-genius.svg')
	.verse
		%span.green We rock the house like rock 'n roll
		%span.green Got more soul than a sock with a hole
		%span Set the stage with a goal
		%span To have the game locked in a cage getting shocked with a pole
		%span Overthrow 'em like throwing rover a biscuit
		%span A lot of bitches think he's overly chauvinistic
		%span Let go his dick if that's the case
		%span Rats, what a waste there's more cats to chase
		%span Dogs, he got it like new powers
		%span Woke up, wrote and spit the shit in a few hours
		%span Sheesh! Been unleashed since the glee club
		%span Had your fam saying, "Please make me a dub"
		%span Well, since you ask kindly
		%span Where he been behind the mask, who can't find me?
		%span You're blind
		%span In the wine zone leave ya mind blown
		%span When he shine with the 9, he's a rhinestone... cowboy
	.verse
		%span [MF DOOM]
		%span No no no no enough
	.verse
		%span [Verse 2 - MF DOOM]
		%span Goony goo goo loony cuckoo like Gary Gnu off New Zoo Revue
		%span But who knew the mask had a loose screw?
		%span Hell, could hardly tell
		%span Had to tighten it up like the Drells and Archie Bell
		%span It speaks well of the hyper base
		%span Wasn't even tweaked and it leaked into cyberspace
		%span Couldn't wait for the snipes to place
		%span At least a track list in bold print typeface
		%span Stopped for a year
		%span Come back with thumb tacks, pop full of beer
		%span We're hip hop sharecroppers
		%span Used to wear flip flops, now rare gear coppers

= render 'layouts/player'