= render 'layouts/head'

#disp
	#track
		%h2 Kanye West - Graduation
		%h6.green Good Morning
		%h6 Champion
		%h6 Stronger
		%h6 I Wonder
		%h6 Good Life
		%h6 Can't Tell Me Nothing
		%h6 Barry Bonds
		%h6 Drunk and Hot Girls
		%h6 Flashing Lights
		%h6 Everything I Am
		%h6 The Glory
		%h6 Homecoming
		%h6 Big Brother
	=image_tag('ph.png')
	
= render 'layouts/player'