// Place all the styles related to the mv controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 $green: #23CF5F;

 $dark: #2f2f2f;
 $shadow: #000;

 $light: #fff;
 $light_shadow: #D0D0D0;

 $bg: $light;
 $fg: $dark;
 $shadow: $light_shadow;

#disp-video {
	margin: 16px;
	img {
		display: inline-block;
		height: 260px;
	}
}

#lyric {
	span {
		display: block;
	}
}