= render 'layouts/head'

= render 'layouts/sub'

=render 'layouts/side'

.cont
	= render 'mv'

	#lyric
		%span Wake up Mr. West, Mr. West
		%span Mr. Fresh, Mister, by himself he's so impressed
		%span I mean damn, did you even see the test?
		%span You got D's, muthafucka D's, Rosie Perez

= render 'layouts/player'