#side
	%h5 Discover
	%h6 Radio
	%h6 last.fm
	-#start .cat
		-#%h6 Radio
		=# image_tag('icon-radio.svg')
	
	%h5.mar My Music
	%h6.green Songs
	%h6 Albums
	%h6 Artists
	%h6 Playlists

	.player
		= image_tag "album/madvillainy.png"
		=# image_tag "album/flamingo.png"